{% extends "layouts/settings.html" %}
{% block title %}GitHub{% endblock %}
{% block settings_content %}
  <h1>GitHub</h1>
  <h3>Repositories</h3>
  <h3>Integration</h3>
  {% if integration %}
    <p>Installed on your <b>{{ integration['account']['login'] }}</b> GitHub account to host and edit your books on GitHub.</p>
  {% else %}
    <form method="get" action="{{ url_for('users.auth_github') }}">
      <p>Install our GitHub integration to host and edit your books on GitHub.
        This will also connect your GitHub account.</p>
      <input type="hidden" name="next" value="{{ url_for('users.user_github_install') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button>Install GitHub integration on this account</button>
    </form>
  {% endif %}
  <h3>Account</h3>
  {% if account %}
    <p>Your GitHub account <b>{{ account['login'] }}</b> is connected to GitDiggerto authenticate and link your organizations.
We will never do anything on GitHub without your permission.</p>
    <a href="{{ url_for('users.auth_github', next=url_for('users.user_github')) }}">
      Reconnect GitHub
    </a>
  {% else %}
    <p>Connect your GitHub account to authenticate and link your GitDiggerorganizations with GitHub organizations.
We will never do anything on GitHub without your permission.</p>
    <a href="{{ url_for('users.auth_github', next=url_for('users.user_github')) }}">
      Connect GitHub
    </a>
  {% endif %}
  {% if integration or account %}
    <h3>Danger Zone</h3>
    {% if integration %}
      <a href="{{ integration['html_url'] }}">
        Uninstall GitHub integration
      </a>
      <p>Uninstall GitDigger from the <b>{{ integration['account']['login'] }}</b> GitHub account.</p>
      <p>You will not be able to edit your books linked to GitHub repositories anymore.</p>
    {% endif %}
    {% if account %}
      <form method="post" action="{{ url_for('users.user_github') }}">
        <input type="hidden" name="action" value="unlink">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button>Unlink GitHub account</button>
        <p>This action is not recommended when some of your books are linked to GitHub repositories.</p>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
