{% extends "layouts/settings.html" %}
{% block title %}GitHub{% endblock %}
{% block settings_content %}
  <div class="card mb-3">
    <div class="card-header">Repositories</div>
    {% if repos %}
    <div class="card-body">
      <div class="repo-list">
      {% for repo in repos %}
        <div class="repo-list-item">
          <b><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></b>
          <p class="text-muted">{{ repo.html_url | replace('https://', '') | replace('http://', '') }}</p>
        </div>
      {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="card-body text-center">
      <p class="card-text">{{ site_name }} is ready to sync your repositores with GitHub.</p>
      <a href="{{ url_for('repos.new') }}" class="btn btn-primary">Create a repository from GitHub</a>
    </div>
    {% endif %}
  </div>
  <div class="card mb-3">
    <div class="card-header">
      Integration
      {% if integration %}
      <span class="label label-success">INSTALLED</span>
      {% endif %}
    </div>
    <div class="card-body">
    {% if integration %}
      <p class="card-text">Installed on your <b>{{ integration['account']['login'] }}</b> GitHub account to host and edit your repositories on GitHub.</p>
    {% else %}
      <form method="get" action="{{ url_for('users.auth_github') }}">
        <p>Install our GitHub integration to host and edit your repositories on GitHub.
          This will also connect your GitHub account.</p>
        <input type="hidden" name="next" value="{{ url_for('users.user_github_install') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn btn-primary">Install GitHub integration on this account</button>
      </form>
    {% endif %}
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      Account
      {% if current_user.github_username %}
      <span class="label label-success">CONNECTED</span>
      {% endif %}
    </div>
    <div class="card-body">
    {% if current_user.github_username %}
      <p class="card-text">Your GitHub account <b>{{ current_user.github_username }}</b> is connected to {{ site_name }} to authenticate and link your organizations.
  We will never do anything on GitHub without your permission.</p>
      <a href="{{ url_for('users.auth_github', next=url_for('users.user_github')) }}" class="btn btn-secondary">
        Reconnect GitHub
      </a>
    {% else %}
      <p class="card-text">Connect your GitHub account to authenticate and link your {{ site_name }} organizations with GitHub organizations.
  We will never do anything on GitHub without your permission.</p>
      <a href="{{ url_for('users.auth_github', next=url_for('users.user_github')) }}" class="btn btn-primary">
        Connect GitHub
      </a>
    {% endif %}
    </div>
  </div>
  {% if integration or current_user.github_username %}
  <div class="card card-auto-divider mb-3">
    <div class="card-header">Danger Zone</div>
    <div class="card-body">
    {% if integration %}
      <p>
        <a href="{{ integration['html_url'] }}" class="btn btn-danger">
          Uninstall GitHub integration
        </a>
      </p>
      <p class="card-text">Uninstall {{ site_name }} from the <b>{{ integration['account']['login'] }}</b> GitHub account.</p>
      <p class="card-text">You will not be able to edit your repositories linked to GitHub repositories anymore.</p>
    {% endif %}
    {% if current_user.github_username %}
      <form method="post" action="{{ url_for('users.user_github') }}" class="mt-4">
        <input type="hidden" name="action" value="unlink">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <p>
          <button class="btn btn-danger">Unlink GitHub account</button>
        </p>
        <p class="card-text">This action is not recommended when some of your repositories are linked to GitHub repositories.</p>
      </form>
    {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}
