<div class="feed">
  <div class="feed-meta links-gray-dark clearfix">
    <div class="feed-meta-avatar">
      {{ user_avatar_tag(feed.user) }}
    </div>
    <div class="feed-meta-content">
      <div class="source">
        <a href="{{ url_for('users.show', username=feed.user.username) }}">{{ feed.user.name }}</a>
        <i class="octicon octicon-triangle-right text-faded"></i>
        {{ repo_link_tag(feed.repository) }}
        <abbr class="feed-meta-time text-muted ml-1" title="{{ feed.created_at }}">{{ feed.created_at | timesince }}</abbr>
      </div>
    </div>
  </div>
  <div class="header">
    <a class="link-gray-dark" href="{{ feed.html_url }}" target="_blank">{{ feed.title }}</a>
  </div>
  <div class="content">
    {{ feed.body_html | striptags | truncate }}
  </div>
  <div class="extra-content">
    {% if feed.topics | length > 0 %}
    <div class="topics float-right">
      {% set topics = topics_sorted(feed.topics) %}
      {% set topic = topics[0] %}
      <a href="{{ url_for_topic(topic) }}" class="label label-basic">{{ topic.name }}</a>
      {% if feed.topics | length > 1 %}
      <div class="d-none d-md-inline-block">
        {% set topic = topics[1] %}
        <a href="{{ url_for_topic(topic) }}" class="label label-basic">{{ topic.name }}</a>  
        {% if feed.topics | length > 2 %}
        <div class="dropdown topics-dropdown">
          <a data-toggle="dropdown" class="link-muted dropdown-toggle" href="#">
            +{{ topics | length - 2 }}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
          {% for topic in topics[2:] %}
            <a class="dropdown-item" href="{{ url_for_topic(topic) }}">{{ topic.name }}</a>
          {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endif %}
      </div>
    </div>
    {% endif %}
    <button type="button" class="btn btn-sm btn-vote {{ 'btn-outline-secondary' if has_voted else 'btn-primary-light' }} "
      data-action="upvote" data-vote-url="{{ url_for_vote(feed) }}"
      data-vote-count="{{ feed.points }}" data-text-upvoted="Upvoted" data-voted="{{ 1 if has_voted else 0 }}" {{ 'disabled' if has_voted }}>
      <span class="text">{{ 'Upvoted' if has_voted else 'Upvote' }}</span> | <b class="count">{{ feed.points }}</b>
    </button>
    <a class="link-muted ml-3" href="{{ feed.html_url }}">
      <i class="octicon octicon-comment-discussion"></i> {{ feed.comments_count }} <span class="d-none d-md-inline">comments</span>
    </a>
  </div>
</div>
