<div class="feed wireframe">
  <div class="feed-meta links-gray-dark clearfix">
    <div class="feed-meta-avatar">
      <div class="user-avatar wireframe"></div>
    </div>
    <div class="feed-meta-content">
      <div class="source">
        <div class="wireframe">username repository</div>
      </div>
    </div>
  </div>
  <div class="header">
    <a class="wireframe">a simple long long long long long long long long title</a>
  </div>
  <div class="content">
    <div class="wireframe w-100">first line description</div>
    <div class="wireframe">second line description, description, description, description</div>
  </div>
  <div class="extra-content">
    <button type="button" class="btn btn-sm wireframe">Button</button>
    <a class="link-muted ml-3 wireframe">comments</a>
  </div>
  <div class="error-cover">
    <p class="text-red">Oops! there seems to be a problem.</p>
    <button id="btn-reload-feeds" class="btn btn-outline-danger">Try agian</button>
  </div>
</div>
