<div id="feeds-container" class="feed-list" data-pages="{{ feeds.pages }}">
  {% if topic and show_topic %}
    {% include "components/_topic_feed.html" %}
  {% endif %}
  {% if feeds.items | length < 1 %}
  <div class="card">
    <div class="card-body text-center">
      <h1 class="text-muted">
        <i class="octicon octicon-stop"></i>
      </h1>
      <p class="card-text">Oops! there was no story in this timeframe.</p>
    </div>
  </div>
  {% else %}
    {% include "components/_feeds.html" %}
    {% if feeds.has_next %}
    <div id="feeds-loading-tip">
    {% include "components/_feed_wireframe.html" %}
    </div>
    <p id="feeds-loaded-tip" class="text-muted text-center mt-3" style="display: none">
      <i class="octicon octicon-stop"></i>
      You've reached the end of the list
    </p>
    {% else %}
    <p id="feeds-loaded-tip" class="text-muted text-center mt-3">
      <i class="octicon octicon-stop"></i>
      You've reached the end of the list
    </p>
    {% endif %}
  {% endif %}
</div>
