<div class="feed">
  <div class="meta links-gray-dark clearfix">
    <div class="image">
      {{ user_avatar_tag(feed.user) }}
    </div>
    <div class="content">
      {% if feed.topics | length > 0 %}
      <div class="topics float-right">
        {% set topics = topics_sorted(feed.topics) %}
        {% for topic in topics[:2] %}
        <a href="{{ url_for_topic(topic) }}" class="label" style="{{ topic_color_style(topic) }}">{{ topic.name }}</a>
        {% endfor %}
        {% if feed.topics | length > 2 %}
        <a data-toggle="dropdown" class="dropdown-toggle">+{{ topics | length - 2 }}</a>
        <div class="dropdown-menu">
        {% for topic in topics[2:] %}
          <a href="{{ url_for_topic(topic) }}">{{ topic.name }}</a>
        {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="source">
        <a href="">{{ feed.user.name }}</a>
        <i class="octicon octicon-triangle-right text-faded"></i>
        {{ repo_link_tag(feed.repository) }}
        <span class="text-faded">#{{ feed.number }}</span>
      </div>
      <div class="description">Opened issue at
        <abbr title="{{ feed.created_at }}">{{ feed.created_at | timesince }}</abbr>
      </div>
    </div>
  </div>
  <div class="header">
    {{ feed_icon(feed) }}
    <a class="link-gray-dark" href="{{ feed.html_url }}" target="_blank">{{ feed.title }}</a>
  </div>
  <div class="content markdown-body">
    {{ feed.body_html | striptags | truncate }}
  </div>
  <div class="extra-content">
    <button type="button" class="btn btn-flat btn-primary-light">Upvote</button>
    <a class="link-muted ml-4" href="{{ feed.html_url }}">
      <i class="octicon octicon-comment-discussion"></i> {{ feed.comments_count }} comments
    </a>
  </div>
</div>
