<div class="feed">
  <div class="feed-meta links-gray-dark clearfix">
    <div class="feed-meta-avatar">
      {{ user_avatar_tag(feed.user) }}
    </div>
    <div class="feed-meta-content">
      <a class="feed-author" href="{{ url_for('users.show', username=feed.user.username) }}">{{ feed.user.name }}</a>
      <a class="feed-source" href="{{ feed.repository.html_url }}">
        <i class="octicon octicon-triangle-right"></i>
        {{ feed.repository.owner.username }}/{{ feed.repository.name }}
      </a>
      <abbr class="feed-meta-time text-muted ml-1" title="{{ feed.created_at }}">{{ feed.created_at | timesince }}</abbr>
    </div>
  </div>
  <div class="feed-header">
    <a class="link-gray-dark" href="{{ feed.html_url }}" target="_blank">{{ feed.title }}</a>
  </div>
  <div class="feed-content">
    {{ feed.body_html | striptags | truncate }}
  </div>
  <div class="feed-extra-content">
    {% if feed.topics | length > 0 %}
      <div class="topics float-right">
        {% set topics = topics_sorted(feed.topics) %}
        {% set topic = topics[0] %}
        <a href="{{ url_for_topic(topic) }}" class="label label-basic">{{ topic.name }}</a>
        {% if feed.topics | length > 1 %}
          {% set topic = topics[1] %}
          <div class="d-none d-md-inline-block">
            <a href="{{ url_for_topic(topic) }}" class="label label-basic">{{ topic.name }}</a>  
            {% if feed.topics | length > 2 %}
              <div class="dropdown topics-dropdown">
                <a data-toggle="dropdown" class="link-muted dropdown-toggle" href="#">
                  +{{ topics | length - 2 }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  {% for topic in topics[2:] %}
                    <a class="dropdown-item" href="{{ url_for_topic(topic) }}">{{ topic.name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <button type="button" class="btn btn-sm btn-vote js-btn-vote {{ 'btn-primary' if has_voted else 'btn-light' }} "
      data-action="upvote" data-vote-url="{{ url_for_vote(feed) }}"
      data-vote-count="{{ feed.points }}" data-text-upvoted="Upvoted" data-voted="{{ 1 if has_voted else 0 }}" {{ 'disabled' if has_voted }}>
      {{ 'Upvoted' if has_voted else 'Upvote' }}
    </button>
    <span class="social-count js-social-count">{{ feed.points }}</span>
    <a class="link-muted ml-3" href="{{ feed.html_url }}">
      <i class="octicon octicon-comment-discussion"></i> {{ feed.comments_count }} <span class="d-none d-md-inline">comments</span>
    </a>
  </div>
</div>
