<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title"><a class="link-gray-dark" href="{{ url_for('topics.show', name=topic.name) }}">{{ topic.name }}</a></h3>
    <p class="card-text">
      <small class="text-muted">
        {{ topic.issues_count }} issues,
        {{ topic.repositories_count }} repositories
      </small>
    </p>
    <p class="card-text">
      {% if topic.description %}
      {{ topic.description | striptags | truncate }}
      {% else %}
      <span class="text-muted">No description.</span>
      {% endif %}
    </p>
    {% set has_following = True %}
    <button type="button" class="btn btn-sm btn-follow-topic js-btn-follow-topic{{ ' btn-secondary' if has_following else ' btn-success' }}"
    data-text-follow="Follow Topic" data-text-following="Following Topic"
    data-followers-count="{{ topic.followers_count }}" data-following="{{ 1 if has_following else 0 }}"
    data-url="{{ url_for('api.user_topics', name=topic.name) }}" data-from="feeds">
      Following Topic
    </button>
    <span class="social-count js-social-count">{{ topic.followers_count }}</span>
  </div>
</div>
