<div id="site-footer">
  <div class="container">
    {% block footer %}
      <div class="row">
        <div class="col-5 site-more-links links-gray-dark">
          <a href="{{ url_for('status') }}">Status</a>&emsp;
          <a href="{{ github_url }}">GitHub</a>&emsp;
          <a href="{{ blog_url }}">Blog</a>
        </div>
        <div class="col-7 site-copyright">
          &copy; {{ get_copyright_year() }} <a class="link-gray-dark" href="{{ owner_url }}">{{ owner_name }}</a>
        </div>
      </div>
    {% endblock %}
  </div>
</div>
