<nav id="site-navbar" class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container">
      <a class="navbar-brand mr-0 mr-md-3" href="/">{{ site_name }}</a>
      {% if navbar_active not in ('home', 'index') %}
      <span class="navbar-text d-md-none">{{ navbar_active }}</span>
      {% endif %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#site-navbar-content" aria-controls="site-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="site-navbar-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% if current_user.is_authenticated %}
            <a class="nav-link {{ 'active' if navbar_active == 'explore' }}" href="{{ url_for('explore') }}">Explore</a>
            {% else %}
            <a class="nav-link {{ 'active' if navbar_active == 'home' }}" href="/">Home</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if navbar_active == 'topics' }}" href="{{ url_for('topics.index') }}">Topics</a>
          </li>
        </ul>
        <span class="nav navbar-nav pull-md-right">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
              {% include 'layouts/_header_user_dropdown.html' %}
            {% else %}
              <li class="nav-item nav-links-item">
                <a class="nav-link" href="{{ url_for('users.login') }}">Sign in</a>
                <span class="navbar-text">or</span>
                <a class="nav-link" href="{{ url_for('users.join') }}">Sign up</a>
              </li>
            {% endif %}
          </span>
        </span>
      </div>
    </div>
  </nav>
