<!DOCTYPE html>
<html lang="zh-cn">
<head>
  {% block head %}
  <title>{% block full_title %}{% block title %}{% endblock %} - GitDigger{% endblock %}</title>
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
</head>
<body class="{{ body_class if body_class }}">
  {% block header %}
  <header id="site-header">
  {% include 'layouts/_header.html' %}
  </header>
  {% endblock %}
  <div id="site-content">
    {% include 'layouts/_flashes.html' %}
    <div class="page-content">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='javascripts/vendor.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
  {% block footer %}
    {% include 'layouts/_footer.html' %}
  {% endblock %}
</body>
</html>
