<!DOCTYPE html>
<html lang="zh-cn">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - GitDigger</title>
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/vendor.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
</head>
<body>
  {% include 'layouts/_header.html' %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flashes">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <div class="container">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div id="site-content">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='javascripts/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
  </div>
  {% block footer %}
    {% include 'layouts/_footer.html' %}
  {% endblock %}
</body>
</html>
