{% extends "layouts/base.html" %}
{% block full_title %}
  {{ site_name }} - A place to digg open source project stories.
{% endblock %}
{% block jumbotron %}
  {% if not current_user.is_authenticated %}
    <div class="jumbotron home-jumbotron">
      <div class="container">
        <h1>The community for modern developers.</h1>
        <p class="lead">Dig interesting stories from open source projects, Share it with other people, Promote community development of open source projects.</p>
        <p class="lead">
          <a class="btn btn-success" href="{{ url_for('users.join') }}" role="button">Sign up</a>
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-9">
    <h2>Trending</h2>
    {% include "components/_feeds_container.html" %}
  </div>
  <div class="col-12 col-md-3">
    <h2>Developers</h2>
    {% include 'components/_users.html' %}
  </div>
</div>
{% endblock %}
