{% extends "layouts/base.html" %}
{% block title %}Topics{% endblock %}
{% block content %}
{% for group in groups %}
<div class="row">
  {% for topic, has_following in group %}
  <div class="col-12 col-lg-4">
    <div class="topic-card card mb-3">
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ url_for('topics.show', name=topic.name) }}">{{ topic.name }}</a>
        </h4>
        <p class="card-text">
          {% if topic.description %}
          {{ topic.description }}
          {% else %}
          <span class="text-muted">No description.</span>
          {% endif %}
        </p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-follow-topic{{ ' btn-secondary' if has_following else ' btn-success' }}"
        data-text-follow="Follow" data-text-following="Following"
        data-followers-count="{{ topic.followers_count }}" data-following="{{ 1 if has_following else 0 }}"
        data-url="{{ url_for('api.user_topics', name=topic.name) }}">
          {% if has_following %}
          Following
          {% else %}
          Follow
          {% endif %}
        </button>
        <small class="text-muted">
          <b>{{ topic.issues_count }}</b> issues,
          <b class="followers-count">{{ topic.followers_count }}</b> followers
        </small>
      </div>
    </div>
  </div>
  {% endfor %}  
</div>
{% endfor %}  
{% endblock %}
