.page-snippets-index {
  h4 {
    font-size: 1.1rem;
  }
  .snippets-side-nav {
    .octicon {
      color: theme-color('primary');
      font-size: 38px;
    }
    .card-title {
      font-size: 1rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .page-snippets-index {
    .snippets-side-nav {
      border: 0;
    }
  }
}
