{% extends "layouts/base.html" %}
{% set site_content_class = 'home-content' %}
{% block full_title %}
  Stories - {{ site_name }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-3">
    <div class="home-sidebar">
      <div class="d-block d-md-none">
        <button id="dashboard-sidebar-toggler" class="sidebar-toggler sidebar-toggler-right" type="button" data-toggle="collapse" data-target="#dashboard-sidebar-content" aria-controls="dashboard-sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
          <i class="octicon octicon-chevron-down"></i>
        </button>
        {% if sidebar_active %}
        {% if sidebar_active == 'top' %}
          <span class="label label-sm label-red">
            <i class="octicon octicon-flame"></i>
          </span>
          Top Stories
          {% if current_user.is_authenticated and current_user.following_topics | length > 0 %}
          To Watch
          {% endif %}
        {% else %}
          <span class="label label-sm label-orange">
            <i class="octicon octicon-clock"></i>
          </span>
          Recent Stories
          {% if current_user.is_authenticated and current_user.following_topics | length > 0 %}
          To Watch
          {% endif %}
        {% endif %}
        {% endif %}
      </div>
      <div class="sidebar-content collapse" id="dashboard-sidebar-content">
        <h3>Feeds</h3>
        <nav class="nav links-gray-dark flex-column">
          <a class="nav-link{{ ' active' if sidebar_active == 'top' }}" href="{{ url_for('index') }}">Top Stories</a>
          <a class="nav-link{{ ' active' if sidebar_active == 'recent' }}" href="{{ url_for('recent') }}">Recent Stories</a>
        </nav>
        {% if sidebar_active == 'top' %}
        <div class="d-block d-md-none">
          <h3>Time</h3>
          <nav class="nav links-gray-dark flex-column">
            <a class="nav-link{{ ' active' if timeframe == 'today' }}" href="{{ url_for('index', timeframe='today') }}">Today</a>
            <a class="nav-link{{ ' active' if timeframe == 'week' }}" href="{{ url_for('index', timeframe='week') }}">Week</a>
            <a class="nav-link{{ ' active' if timeframe == 'month' }}" href="{{ url_for('index', timeframe='month') }}">Month</a>
            <a class="nav-link{{ ' active' if timeframe == 'year' }}" href="{{ url_for('index', timeframe='year') }}">Year</a>
          </nav>
        </div>
        {% endif %}
        <h3>Bookmarks</h3>
        {% include "dashboard/_topics.html" %}
      </div>
    </div>
  </div>
  <div class="col-12 col-md-9">
    {% if sidebar_active %}
    <div class="section-header d-none d-md-block">
      {% include "dashboard/_header.html" %}
    </div>
    {% endif %}
    {% include "components/_feeds_container.html" %}
  </div>
</div>
{% endblock %}
