{% extends "layouts/repo_settings.html" %}
{% block title %}Options{% endblock %}
{% block settings_content %}
  <div class="card mb-3">
    <div class="card-header">Details</div>
    <div class="card-body">
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">Danger Zone</div>
    <div class="card-body">
      <form method="post" action="{{ url_for_repo_settings }}">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button id="btn-delete-repo-confirm" class="btn btn-danger float-right">Delete this repository</button>
        <b>Delete this repository</b>
        <p class="card-text">Once you delete a repository, there is no going back. Please be certain.</p>
      </form>
    </div>
  </div>
  <h1></h1>
{% endblock %}
