<h4 class="mb-3">Search Snippets</h4>
<form class="mb-4" action="{{ url_for('snippets.index') }}" method="get">
  <input value="" type="text" name="query" placeholder="Description" aria-label="Search by description" class="form-control w-100">
</form>
<div class="tip card text-center mb-4">
  <div class="card-body">
    <p class=""><i class="octicon octicon-cloud-upload"></i></p>
    <h5 class="card-title">Upload Tips</h5>
    <p class="card-text">We have provided a tool to collect code snippets with FIXME comments and upload them here.</p>
    <a class="btn btn-outline-primary" target="_blank" href="{{ snippet_help_url }}">See more</a>
  </div>
</div>
<h4 class="mb-3">Languages</h4>
<div class="filter-list nav flex-md-column nav-pills mb-4">
{% for topic in languages %}
  <li class="nav-item">
    {% if topic.name == language %}
    <a class="filter-item nav-link active" href="{{ url_for('snippets.index') }}">
      <i class="octicon octicon-x float-right mt-1 ml-2"></i>
      {{ topic.name }}
    </a>
    {% else %}
    <a class="filter-item nav-link" href="{{ url_for('snippets.index', language=topic.name) }}">
      {{ topic.name }}
    </a>
    {% endif %}
  </li>
{% endfor %}
</div>
  