import os
from config import github

def init_app(app):
    # setup database
    app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///database.db'
    app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
    # setup secret key 
    app.config['SECRET_KEY'] = 'secret key'
    # setup github-flask
    app.config['GITHUB_CLIENT_ID'] = github.config['id']
    app.config['GITHUB_CLIENT_SECRET'] = github.config['secret']
