def init_app(app):
    config = {
        'user': 'gitdigger',
        'pw': '123456',
        'db': 'gitdigger_development',
        'host': 'localhost',
        'port': '5432'
    }
    uri = 'postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s' % config
    app.config['SQLALCHEMY_DATABASE_URI'] = uri
    app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
