def get_datebase_uri():
    config = {
        'user': 'gitdigger',
        'pw': '123456',
        'db': 'gitdigger_development',
        'host': 'localhost',
        'port': '5432'
    }
    return 'postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s' % config

SQLALCHEMY_DATABASE_URI = get_datebase_uri()
SQLALCHEMY_TRACK_MODIFICATIONS = True
