.feed-card {
  position: relative;
  background: #fff;
  padding: 16px 18px;
  margin-bottom: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.feed {
  .user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 4px;
  }
  .repo-link {
    color: $green !important;

    &:hover {
      color: darken($green, 15%) !important;
    }
  }
  .meta {
    font-weight: 500;
    margin-bottom: 8px;

    .image {
      float: left;
      position: relative;

      .label {
        padding: 0;
        right: -5px;
        bottom: -5px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        border-radius: 4px;
        line-height: 18px;
        position: absolute;
        text-align: center;
        border: 1px solid #fff;
        box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.3);
      }
    }
    .content {
      margin-left: 54px;
    }
    .description {
      color: $gray-light;
      line-height: 20px;
      font-size: small;
    }
    .topics {
      display: inline-block;
    }
  }
  .header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;

    .label {
      width: 24px;
      height: 24px;
      padding: 0;
      font-size: 1em;  
      line-height: 24px;
      text-align: center;
      border-radius: 4px;
      display: inline-block;
    }
  }
  > .content {
    margin-bottom: 8px;
  }
}
