#site-footer {
    padding: 1rem 0;
    background-color: #fff;
    border-top: 1px solid $border-color;

    .site-more-links {
        text-align: left;
    }
    .site-copyright {
        text-align: right;
    }
}
