.label {
  margin: 0;
  color: #666;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 3px;
  display: inline-block;
  background-color: #eee;
}
.label-sm {
  padding: 0px 4px;
}
.label.label-success {
  color: $color-light-green;
  border-color: $color-light-green;
  background-color: rgba($color-light-green, .1);
}
.label.label-primary {
  color: theme-color("primary");
  border-color: theme-color("primary");
  background-color: rgba(theme-color("primary"), .1);
}
a.label {
  text-decoration: none;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
a.label.label-primary {
  &:hover {
    color: #fff;
    background-color: theme-color("primary");
  }
}
.label-green {
  color: #fff;
  background: $green;
}
.label-red {
  color: #fff;
  background: $red;
}
.label-orange {
  color: #fff;
  background: $orange;
}
.label-circular {
  width: 1em;
  height: 1em;
  display: inline-block;
}
 .label-basic {
  background: transparent;
  border: 1px solid #eee;
}
