.label {
  margin: 0;
  color: #666;
  font-size: 12px;
  font-weight: 500;
  padding: 0 4px;
  border-radius: 3px;
  display: inline-block;
  background-color: #eee;
}
.label.label-success {
  color: $color-light-green;
  border-color: $color-light-green;
  background-color: rgba($color-light-green, .1);
}
.label.label-primary {
  color: $brand-primary;
  border-color: $brand-primary;
  background-color: rgba($brand-primary, .1);
}
a.label {
  text-decoration: none;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
a.label.label-primary {
  &:hover {
    color: #fff;
    background-color: $brand-primary;
  }
}
.label-green {
  color: #fff;
  background: $green;
}
.label-red {
  color: #fff;
  background: $red;
}
.label-circular {
  width: 1em;
  height: 1em;
  display: inline-block;
}
.topics-nav {
  .nav-link {
    padding-left: 30px;

    .label {
      float: left;
      font-size: 1em;
      margin-left: -30px;
      margin-top: 3px;
    }
  }
}