.link-muted, .links-muted a {
  color: $text-muted;
  
  &:hover {
    color: $link-color;
  }
  &:active {
    color: $link-hover-color;
  }
  &.active {
    color: $link-color;
  }
}
.link-gray-dark, .links-gray-dark a {
  color: $gray-900;
  
  &:hover {
    color: $link-color;
  }
  &:active {
    color: $link-hover-color;
  }
}
