@include media-breakpoint-down(sm) {
  html, body {
    font-size: 14px;
  }
  
  .feed-list {
    margin-left: -$spacer;
    margin-right: -$spacer;
  }
  
  .feed-header {
    font-size: 1.143rem;
  }
}
