@include media-breakpoint-down(sm) {
  html, body {
    font-size: 14px;
  }
  
  .feed-list .feed {
    margin-left: -$spacer;
    margin-right: -$spacer;
    padding-left: $spacer;
    padding-right: $spacer;
  }
  
  .feed-header {
    font-size: 1.143rem;
  }  
}
