#site-header {
  z-index: 10;
  position: relative;
  border-bottom: 1px solid $border-color;

  .user-avatar {
    width: 38px;
    height: 38px;
  }
  .nav-link .user-avatar {
    width: 20px;
    height: 20px;
  }
  .user-name {
    display: block;
  }
  .user-info {
    margin-left: 50px;
  }
  .dropdown-header .user-avatar {
    float: left;
  }
  .dropdown-toggle:after {
    vertical-align: middle;
  }
  .navbar-brand {
    font-weight: 600;
  }
}
.nav-link.text-white {
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
}
.nav-links-item {
  .nav-link {
    display: inline;
  }
}
.nav-light {
  .nav-link {
    color: $gray-600;
    border-radius: .25rem;
    
    &:hover {
      color: $link-color;
    }
    &:active {
      color: $link-hover-color;
    }
    &.active {
      color: $link-color;
    }
  }
}
