
#site-navbar {
  background: #2c3e50;
}
#site-header {
  .user-avatar {
    width: 38px;
    height: 38px;
  }
  .nav-link .user-avatar {
    width: 20px;
    height: 20px;
    border: 1px solid #454a50;
  }
  .user-name {
    display: block;
  }
  .user-info {
    margin-left: 50px;
  }
  .dropdown-header .user-avatar {
    float: left;
  }
  .dropdown-toggle:after {
    vertical-align: middle;
  }
}
.nav-link.text-white {
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
}
.nav-light {
  .nav-link {
    color: $gray-600;
    border-radius: .25rem;
    
    &:hover {
      color: $link-color;
    }
    &:active {
      color: $link-hover-color;
    }
    &.active {
      color: $link-color;
    }
  }
}
