.rating {
  top: 1px;
  position: relative;
  white-space: nowrap;
  display: inline-block;

  .rating-stars-cover {
    top: 0;
    left: 0;
    color: color("yellow");
    position: absolute;
    overflow: hidden;
  }
  .rating-stars {
    color: $gray-200;
  }
}

@for $i from 0 through 10 {  
  .rating[data-value="#{$i}"] {
    .rating-stars-cover {
      width: $i * 10%;
    }
  }
}

.rating-text {
  text-transform: uppercase;
  font-weight: 600;

  &[data-value="0"] {
    color: $teal;
  }
  &[data-value="1"] {
    color: $green;
  }
  &[data-value="2"] {
    color: $blue;
  }
  &[data-value="3"] {
    color: $red;
  }
  &[data-value="4"] {
    color: #f00;
  }
}