.snippet {
  margin-bottom: 2em;

  .header {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: .5rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
.snippet-meta {
  display: flex;

  .extra-info {
    color: $gray-600;
    font-size: smaller;
  }
}
.snippet-meta-avatar {
  flex: 0 0;

  .user-avatar {
    width: $snippet-avatar-size;
    height: $snippet-avatar-size;
    border-radius: $snippet-avatar-border-radius;
  }
}
.snippet-meta-content {
  flex: 1;
  padding: 0 $snippet-meta-spacing;
}
.snippet-source {
  font-weight: 600;
}

.snippet-actions .dropdown-item::first-letter {
  text-transform: capitalize;
}
