$color-light-green: #2ed886;

$feed-avatar-size: 1.44em;
$feed-avatar-border-radius: 3px;
$feed-meta-spacing: .5em;
$feed-divider-color: rgba($card-border-color, 0.75);

$snippet-avatar-size: 2.5em;
$snippet-avatar-border-radius: 3px;
$snippet-meta-spacing: .5em;
$snippet-divider-color: rgba($card-border-color, 0.75);
