@import "~bootstrap/scss/variables";
@import "bootstrap-custom";
@import "variables";
@import "navbar";
@import "label";;
@import "link";
@import "footer";

#site-content {
  background: #ecf0f1;
}
.page-content {
    padding: 20px 0;
}
.card-auto-divider {
  .card-block {
    &:after {
      content: '';
      display: block;
      bottom: -20px;
      position: relative;
      bottom: -$card-spacer-x;
      border-top: 1px solid $hr-border-color;
    }
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.issue-list-group {
  .issue-image img {
    width: 44px;
    height: 44px;
    border-radius: 4px;
  }
  .issue-content {
    margin-left: 1.25rem;
  }
  .issue-description {
    font-size: small;
  }
}
