@import "bootstrap-custom";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "variables";
@import "navbar";
@import "label";;
@import "link";
@import "footer";
@import "feed";

#site-content {
  background: $body-bg-color;
}
.page-content {
    padding: 20px 0;
}
.card-auto-divider {
  .card-block {
    &:after {
      content: '';
      display: block;
      bottom: -20px;
      position: relative;
      bottom: -$card-spacer-x;
      border-top: 1px solid $hr-border-color;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
.octicon {
  display: inline-block;
}
.text-faded {
  color: #ccc;
}
.section-header {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid $hr-border-color;

  .label {  
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    text-align: center;
    vertical-align: text-top;
  }
  .nav {
    font-size: small;
    margin-top: -0.35rem;

    .nav-link.active {
      border-bottom: 2px solid;
    }
  }
}
.home-sidebar {
  h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $hr-border-color;
  }
  .nav {
    margin-bottom: 1rem;

    .nav-link.active {
      color: #000;
      background-color: darken($body-bg-color, 7);
    }
  }
}
.auth-form {
  max-width: 340px;
  margin: 0 auto;
}
.auth-form-header {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}
.user-avatar {
  border-radius: 4px;
}
.signin {
  background: $body-bg-color;
}
.home-jumbotron {
  color: #fff;
  border-radius: 0;
  background: #34495e;

  h1 {
    font-size: 1.86667em;
  }
}
.btn-primary-light {
  cursor: pointer;
  color: mix(theme-color("primary"), #fff, 70);
  background-color: mix(theme-color("primary"), #fff, 8);
  border-color: mix(theme-color("primary"), #fff, 25);

  &:hover {
    color: theme-color("primary");
    border-color: mix(theme-color("primary"), #fff, 80);
  }
  &:active {
    border-color: mix(theme-color("primary"), #fff, 70);
  }
  &[disabled] {
    color: mix(theme-color("primary"), #fff, 70);
    border-color: mix(theme-color("primary"), #fff, 25);
  }
}
.topics-dropdown {
  display: inline-block;

  .dropdown-toggle:after {
    display: none;
  }
}
.topic-card {
  .card-title {
    font-size: 1em;
  }
  .btn-follow-topic {
    float: right;
    margin: -3.5px 0;
  }
}
.text-red {
  color: $red;
}
@media (min-width: 1200px) {
.container {
    width: 960px;
}
}

.site-repos-stats-box {
  .octicon {
    font-size: 40px;
    margin-right: .5rem;
  }
  .site-repos-stats {
    display: inline-block;
  }
}