{% extends "layouts/base.html" %}
{% set body_class = 'signin' %}
{% block title %}Sign in to {{ site_name }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="auth-form">
  <h1 class="auth-form-header text-center">Sign in to {{ site_name }}</h1>
  <div class="card mb-3">
    <div class="card-body">
      {% from "_formhelpers.html" import render_field %}
      <form method="post" action="/login">
        {{ form.csrf_token }} 
        {{ render_field(form.login) }}
        {{ render_field(form.password) }}
        <p><input type="submit" class="btn btn-primary btn-block" value="Sign in"></p>
      </form>
      <p class="card-text">New to GitDigger? <a href="{{ url_for("users.join") }}">Create an account</a>.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a href="{{ url_for("users.auth_github") }}">Sign in with GitHub</a>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
